<link rel='stylesheet' href="/stylesheets/style.css" type="text/css"/>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Press+Start+2P&display=swap" rel="stylesheet">
<%- include('../partials/header') %>
<section id="show-page">
 <br><h1><%= recipe.title %></h1>
  
  <h2>Ingredients: </h2><br>
  <h3><%= recipe.ingredients %></h3><br>
  <h2>Instructions: </h2><br>
  <h3><%= recipe.instructions %></h3><br>
<br>

<% if (user) { %>
<form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
  <input type="submit" id="delete-recipe" value="Delete Recipe"></form>
  <% } %>

<h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/recipes/<%= recipe._id %>/reviews">
   <br><label>Review:</label><br>
    <textarea name="content"></textarea><br>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select><br><br>
    <input type="submit" value="Add Review">
  </form>
<% } %>
<% if (recipe.reviews.length) { %>
    <div class="review-user">
      <% let total = 0 %>
      <% recipe.reviews.forEach(function(r) { %>
        <% total += r.rating %>

          <div><img alt="avatar" class="avatar" src="<%= r.userAvatar %>"><%= r.userName %></div>
            <div><%= r.createdAt.toLocaleDateString() %></div>
              <div><%= r.content %></div>
              <div><%= r.rating %></div>
        
    
        
            <% if (user && user._id.equals(r.user)) { %>
      
                .
                <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                    <input name="text">
                    
                    <button id="update-button" type="submit">Update Review</button>
                </form>
                    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                       
                     <button type="submit" id="delete-review">Delete Review</button>
                  
          </form>
  
        
          <% } %>
        </div>
    
        
          <% }); %>
          
         
       
        <strong><%= (total / recipe.reviews.length).toFixed(1) %></strong>
      
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>


    
    
<%- include('../partials/footer') %>